<!DOCTYPE html>
<html lang="es" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8"> <!-- Define la codificación de caracteres utilizada en la página -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Controla el comportamiento del viewport en dispositivos móviles -->
    <meta property="og:locale" content="es_ES" /> <!-- Define el idioma y la región de la página -->
    <meta property="og:type" content="article" />

    <!--============================================================================
    ================================================================
    Licencia y derechos de autor para Jesus Alexander Martinez Rivera, 
    Cualquier violacion a la Licencia sera sancionado=====================
    ++++==============================================================
    ================================================================================-->
    <!-- Indica el tipo de contenido del objeto enlazado, en este caso un artículo -->
    <meta property="og:title" content="Inicio - CETis 91  Ignacio Allende" />
    <!-- Título del contenido compartido en redes sociales -->
    <meta property="og:url" content="#" />
    <!-- URL del contenido compartido en redes sociales -->
    <meta property="og:site_name" content="Inicio- CETis 91  Ignacio Allende" />
    <!-- Nombre del sitio enlazado compartido en redes sociales -->
    <meta property="og:image:alt" content="Inicio" />
    <!-- Texto alternativo para la imagen mostrada en el contenido compartido en redes sociales -->
    <!-- Agrega el enlace al archivo CSS de Font Awesome -->

    <!--! MODIFICAR ICONOS Agrega el enlace al archivo CSS de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--?ICONOS-->

    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=6.2.2'
        media='all' />

    <link rel="stylesheet" href="public/style/Color.css">
    <link rel="stylesheet" href="public/style/Menu_ordenado.css">
    <link rel="stylesheet" href="public/style/Redes.css">
    <link rel="stylesheet" href="public/style/index.css">
    <!--TODO SCRIPTS-->
    <script async src='public/js/jsprincipal/11.js' id='addtoany-core-js'></script>
    <script src='public/js/jsprincipal/12.js' id='jquery-core-js'></script>
    <script src="public/js/Jjssja.js"></script>
    <script src='public/js/12.js' id='hfe-frontend-js-js'></script> <!--TODO, Menu-->
    <script src='public/js/jsprincipal/4.js' id='elementor-frontend-js'></script> <!--TODO, BLOQUEO-->

    <link rel="icon"
        href="https://th.bing.com/th/id/R.39e48651e3cfb9efc0ab0f99a68ef46d?rik=AabHfAyq1a3P7g&riu=http%3a%2f%2fdgetigto.gob.mx%2fimg%2fdgeti.png&ehk=uI9b3n%2f6bpQV%2byW%2b4ivuNMWp6fWdQ0%2bmZuAkv5dFqDU%3d&risl=&pid=ImgRaw&r=0"
        sizes="32x32" />
    <link rel="apple-touch-icon"
        href="https://th.bing.com/th/id/R.39e48651e3cfb9efc0ab0f99a68ef46d?rik=AabHfAyq1a3P7g&riu=http%3a%2f%2fdgetigto.gob.mx%2fimg%2fdgeti.png&ehk=uI9b3n%2f6bpQV%2byW%2b4ivuNMWp6fWdQ0%2bmZuAkv5dFqDU%3d&risl=&pid=ImgRaw&r=0" />


    <title>3° Semestre - CETis 91 "Ignacio Allende"</title>
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASURE_ID"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GA_MEASURE_ID');
</script>

<body>
    <!--========================HEADER
========================-->
    <header class="header">
    </header>
    <!--========================HEADER
========================-->

    <!--========================SE EXTRAE NAV=MENU
========================-->
    <nav data-elementor-type="header" class="elementor">
    </nav>
    <!--========================SE EXTRAE NAV=MENU
========================-->

    <main>
        <style>
            main {
                display: flex;
                height: 500px;
            }
        </style>

        <!-- Sección izquierda -->


    </main>

    <!--========================BOTON ROJO SUBIR 
========================-->
    <button id="backToTopBtn" class="hidden">▲
    </button>
    <!--========================BOTON ROJO SUBIR
========================-->

    <div class=" degradado">
    </div>

    <!--======================== FOOTER
========================-->
    <footer>
    </footer>
    <!--========================FOOTER
========================-->

    <script src="public/js/js_data.js"></script>

</body>

</html>